.buttonRounded {
  display: inline-block;
  padding: 1.25rem 3.125rem;
  background-color: white;
  color: #57b3fe;
  font-size: 0.875rem;
  border-radius: 3rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.button {
  display: inline-block;
  cursor: pointer;
  background: #78cfff;
  color: #343434;
  box-shadow: 7px 10px 20px rgba(35, 21, 91, 0.1);
  border-radius: 0.625rem;
  padding: 1.25rem 3.125rem;
  font-size: 1.25rem;
}
