.home {
  width: 100%;
  overflow: auto;
  background: url("../../assets/images/Ellipse-BG.svg") 50% 30% / 100% auto;
}

.heroTitle {
  font-size: 4.25rem;
  font-weight: 500;
}

.heroDescription {
  opacity: 0.8;
}
